{%extends 'base.html'%}
{%block content%}
<div class="content">
  <h1>Riget Zoo Adventures</h1>

  <img src="/static/images/eduvisit.jpg" style="width: 60%; height: 40%;">

  <p>Education lies at the heart of all that we do, and a trip to Banham Zoo offers an unmissable opportunity to take learning outside of the classroom. <br>From Early Years Foundation Stage (EYFS) to higher education and beyond, our group visits provide immersive experiences that ignite curiosity and foster a deep appreciation for animals and the environment. Through interactive exhibits, engaging presentations, and hands-on activities, we aim to inspire students of all ages to explore and connect with the wonders of the natural world.</p>
  <br>
  <p>To book a school trip or if you have any additional questions please contact our education department at RZAschools@gmail.com.</p>


</div>
{%endblock%}
 