{%extends 'base.html'%}
{%block content%}
<div class="content">
  <h1>Riget Zoo Adventures</h1>

  <img src="/static/images/edu.jpg" style="width: 60%; height: 40%;">

  <p>We think that it is very important that the next generation and the generation after that (and all generations after) get to appreciate animals, learn about them,  and learn about the dangers that illegal hunting and climate change pose towards these magnificent creatures. <br> Educational Visits will let teenagers and teens see all of our amazing animals that we have at Riget Zoo Adventures, whilst also learning through fun and interactive ways that will make their day fun and educational.</p>

</div>
{%endblock%}