<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!--JQuery-->
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"/><!--semantic ui css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script><!--semantic ui js-->
        <link rel="stylesheet" href = "/static/styles.css" /><!--My CSS-->
        <script src="/static/scripts.js"></script><!--My js-->
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/sidebar.min.css"/><!--semantic ui css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/sidebar.min.js"></script><!--semantic ui js-->
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/dropdown.min.css"/><!--semantic ui css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/dropdown.min.js"></script><!--semantic ui js-->
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/dropdown.min.css"/><!--semantic ui css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/dropdown.min.js"></script><!--semantic ui js-->

        <script>
          //this function will parse the specific cookie and return the value
          function getCookie(cname) {
              var name = cname + "=";
              var ca = document.cookie.split(';');
              for(var i=0; i<ca.length; i++) {
                  var c = ca[i];
                  while (c.charAt(0)==' ') c = c.substring(1);
                  if(c.indexOf(name) == 0)
                    return c.substring(name.length,c.length);
              }
              return "";
}         //this function will get the necessary cookies and hide/display the correct elements on the page
          window.onload = function cookies() {
            console.log(document.cookie);
            const user_id = getCookie('user_id');
            const name = getCookie('name');
            console.log(user_id);
            console.log(name);

            if (user_id) {

              document.querySelectorAll('.logout').forEach(function(el) {el.style.display = 'inline';});
              document.querySelectorAll('.login').forEach(function(el) {el.style.display = 'none';});
              document.querySelectorAll('.sign_up').forEach(function(el) {el.style.display = 'none';});

              document.getElementById('test_cookie').innerHTML = name;

              document.getElementById('account').innerHTML = (`Account: ${name}`);

            } else {
              document.querySelectorAll('.logout').forEach(function(el) {el.style.display = 'none';});
              document.querySelectorAll('.login').forEach(function(el) {el.style.display = 'inline';});
              document.querySelectorAll('.sign_up').forEach(function(el) {el.style.display = 'inline';});
            }
          }
        </script>

    </head>


    <body>
        <div class="ui sidebar inverted vertical menu right"><!--Sidebar that appears on the side for mobile-->
            <div class="item">
              Our Zoo 
              <div class="menu">
                <a class = "item" href="/about">About</a>
                <a class = "item" href="/animals">Meet The Animals</a>
                <a class = "item" href="/book">Book Tickets</a>
              </div>
            </div>
            <div class="item">
              Hotel
              <div class="menu">
                <a class = "item" href="/hotel_search">Search</a>
              </div>
            </div>
            <div class="item">
              Education
              <div class="menu">
                <a class = "item" href="/education">About</a>
                <a class = "item" href="/edu_visit">Book Visit</a>
              </div>
            </div>
            <div class="item">
              Account
              <div class="menu">
                <a class = "item log_out" href="/manage">Change Password</a>
                <a class = "item" href="/delete">Delete Account</a>
                <a class = "item" href="/change_hotel">Manage Reservations</a>
                <a class = "item sign_up" id = "sign_up" href="/signup">Sign Up</a>
                <a class = "item login" id = "login" href="/login">Log In</a>
                <a href="/logout" class="item logout" id="logout">Log Out</a>
              </div>
            </div>
        </div>
            <div class="pusher">
              <header>
                <a href="/"><img class="logo" src="/static/images/logo.png" ></a>
                <div class="buttons">
                  <div class="ui selection dropdown" style="z-index: 2; min-width: 10em;" >
                    <div class="text">Our Zoo</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/login"><div class="item">About</div></a>
                        <a href="/animals"><div class="item" >Meet The Animals</div></a>
                        <a href="/book"><div class="item" >Book Tickets</div></a>
                    </div>
                  </div> 


                  <div class="ui selection dropdown" style="z-index: 2; min-width: 2em;" >
                    <div class="text">Hotel</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/hotel_search"><div class="item">Search</div></a>
                    </div>
                  </div> 

                  <div class="ui selection dropdown" style="z-index: 2; min-width: 2em;" >
                    <div class="text">Education</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/education"><div class="item">About</div></a>
                        <a href="/edu_visit"><div class="item">Book Visit</div></a>
                    </div>
                  </div> 
                  
                  <div class="ui selection dropdown" style="z-index: 2; min-width: 6em;" >
                    <div id ="account" class="text">Account</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a id = "logout" class="logout" href="/manage"><div class="item" >Change Password</div></a>
                        <a href="/delete"><div class="item">Delete Account</div></a>
                        <a href="/change_hotel"><div class="item" >Manage Hotels</div></a>
                        <a id = "sign_up" class="sign_up" href="/signup"><div class="item" >Sign Up</div></a>
                        <a id = "login" class="login" href="/login"><div class="item" >Log In</div></a>
                        <a id = "logout" class="logout" href="/logout"><div class="item" >Log Out</div></a>
                    </div>
                  </div>
                </div>

                <div class="padding">
                  <i class ="big bars icon" onclick="$('.ui.sidebar').sidebar('toggle');"></i><!--Toggles Sidebar-->
                  <div class="spacer">
                    <i class ="big bars icon"></i>
                  </div>
                </div>
            </header>

                <div class="content">
                    <h2>Hotel Search</h2>
        
                    <div class = "hotel_search">
                        <script>
                            $(document).ready(function(){
                                $('.ui.dropdown').dropdown(); })
                        </script>
                        <div class="ui selection dropdown" style="z-index: 3;" onchange="hotel_filter()">
                            <input type="hidden" name="class" id="beds_id">
                            <i class="dropdown icon"></i>
                            <div class="default text">Beds</div><!--Allows the User to input how many beds they want in their hotel room-->
                            <div class="menu">
                                <div class="item" data-value="1">1</div>
                                <div class="item" data-value="2">2</div>
                                <div class="item" data-value="3">3</div>
                                <div class="item" data-value="4">4</div>
                            </div>
                        </div>

                        <div class="ui selection dropdown" style="z-index: 2;" onchange="hotel_filter()">
                            <input type="hidden" name="class" id="guests_id">
                            <i class="dropdown icon"></i>
                            <div class="default text">Guests</div>
                            <div class="menu">
                            <div class="item" data-value="1">1</div><!--Allows the User to input the size of room that they want relative to reccomended number of guests-->
                                <div class="item" data-value="2">2</div>
                                <div class="item" data-value="3">3</div>
                                <div class="item" data-value="4">4</div>
                                <div class="item" data-value="5">5</div>
                            </div>
                        </div>
                        <button onclick="reset()">Reset</button>
        
                    </div>
        
                    <div class="container">
                    
                        <div class="hotels">

                          <div class="bed_one guest_one">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 101</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>1 Bed</p>
                                    <p>1 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £50</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "101" name="room"><!--Form Sends hotel room data to backend-->
                                    <input type="hidden" value = "50" name="hotel_price">
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_one guest_two">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 102</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>1 Bed</p>
                                    <p>2 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £75</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "102" name="room">
                                    <input type="hidden" value = "75" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_two guest_two">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 103</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>2 Bed</p>
                                    <p>2 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £85</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "103" name="room">
                                    <input type="hidden" value = "85" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_two guest_three">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 104</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>2 Bed</p>
                                    <p>3 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £95</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "104" name="room">
                                    <input type="hidden" value = "95" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_three guest_three">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 105</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>3 Bed</p>
                                    <p>3 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £105</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "105" name="room">
                                    <input type="hidden" value = "105" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_three guest_four">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 106</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>3 Bed</p>
                                    <p>4 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £120</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "106" name="room">
                                    <input type="hidden" value = "120" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_four guest_four">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 107</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>4 Bed</p>
                                    <p>4 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £130</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "107" name="room">
                                    <input type="hidden" value = "130" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_four guest_five">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 108</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>4 Bed</p>
                                    <p>5 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £150</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "108" name="room">
                                    <input type="hidden" value = "150" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_one guest_two">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 109</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>1 Bed</p>
                                    <p>2 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £75</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "109" name="room">
                                    <input type="hidden" value = "75" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_two guest_two">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 110</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>2 Bed</p>
                                    <p>2 Guest</p>
                
                                </div>
                                <div class="price"> 
                                    <p>Price: £85</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "110" name="room">
                                    <input type="hidden" value = "85" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_two guest_three">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 111</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>2 Bed</p>
                                    <p>3 Guest</p>
                                </div>
                                <div class="price"> 
                                    <p>Price: £95</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "111" name="room">
                                    <input type="hidden" value = "95" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                          <div class="bed_three guest_three">
                            <div class="hotel_room">
                                <div class="hotel_number">
                                    <h3>Room 112</h3>
                                </div>
                                <div class="hotel_image">
                                    <img style="width: 20vw; height:15vh" src="/static/images/hotel.jpg" >
                                </div>
                                <div class="hotel_description"> 
                                    <p>3 Bed</p>
                                    <p>3 Guest</p>
                                </div>
                                <div class="price"> 
                                    <p>Price: £105</p>
                                </div>
                                <form action="/hotel_search" method="post">
                                    <input type="hidden" value= "112" name="room">
                                    <input type="hidden" value = "105" name="hotel_price"><!--Form Sends hotel room data to backend-->
                                    <button class="ui button" type="submit">Book This Hotel</button>
                                </form>
                            </div>
                          </div>

                        </div>
                    </div>
    </body>
</html>