{%extends 'base.html'%}
{%block content%}
<div id ="permission">
  <p>This website uses cookies. By using the website you agree to the use of cookies so that the website can function</p>
  <button class="ui button" onclick="permission()">Allow Cookies</button>
</div>
<div class="index">

  <div class="home-left">
    <img src="/static/images/giraffe.jpg" class="index_image">
  </div>

  <div class="right">
    <h1>Riget Zoo Adventures</h1>

    <br>
    <br>

    <p>Riget Zoo Adventures is a safari-style wildlife zoo that protects and cares for many endangered species of animals. We want to show the world how amazing our animals are and why they should be protected out in the wild.</p>
    <div class="home_buttons">
      <a href="/animals"><button class="ui button">See Our Animals</button></a>
      <a href="/about"><button class="ui button">See Our Zoo</button></a>
      <a href="/testchange"><button class="ui button">Yabadabadoo</button></a>
    </div>

  </div>

</div>
{%endblock%}